alabaster==0.7.12
altair==4.1.0
appnope==0.1.0
argh==0.26.2
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
base58==2.0.0
beautifulsoup4==4.9.3
bibtexparser==1.1.0
bleach==3.1.0
blinker==1.4
boto3==1.12.41
botocore==1.15.41
cachetools==4.1.0
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
Click==7.0
clickclick==1.2.2
colorama==0.4.3
connexion==2.2.0
cryptography==2.8
cycler==0.10.0
deap==1.3.1
decorator==4.4.1
defusedxml==0.6.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.6
Flask==1.1.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.4
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ijson==2.6.1
imagesize==1.2.0
importlib-metadata==1.5.0
inflection==0.3.1
ipykernel==5.1.4
ipypublish==0.10.10
ipython==7.12.0
ipython-cypher==0.2.4
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
jellyfish==0.7.2
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
json5==0.9.0
jsonextended==0.7.11
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.2
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jupytext==1.3.4
kaggle==1.5.6
kiwisolver==1.1.0
latexcodec==2.0.0
lazy-object-proxy==1.4.3
lxml==4.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mechanize==0.4.5
missingno==0.4.2
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
neo4j==4.1.dev0
neo4jrestclient==2.1.1
neobolt==1.7.16
neotime==1.7.4
networkx==2.4
notebook==6.0.3
numpy==1.18.1
openapi-spec-validator==0.2.8
openfoodfacts==0.1.1
ordered-set==3.1.1
oset==0.1.3
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
panflute==1.12.5
parso==0.6.1
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
Pint==0.11
pipreqs==0.4.10
plotly==4.5.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
ptyprocess==0.6.0
py2neo==4.2.0
pyarrow==0.15.1
pybtex==0.22.2
pybtex-docutils==0.2.2
pycparser==2.19
pydeck==0.3.0
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
requests==2.22.0
retrying==1.3.3
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scikit-learn==0.22.1
scipy==1.4.1
scrypt==0.8.13
seaborn==0.10.0
Send2Trash==1.5.0
setuptools-git==1.2
six==1.14.0
smmap2==2.0.5
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.10
statsmodels==0.11.0
stopit==1.1.2
streamlit==0.57.3
tabulate==0.8.5
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
TexSoup==0.1.4
text-unidecode==1.2
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
TPOT==0.11.1
tqdm==4.43.0
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.0.0
Unidecode==1.1.1
update-checker==0.16
urllib3==1.24.3
validators==0.14.3
validus==0.3.0
veryprettytable==0.8.1
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
xpinyin==0.5.6
yarg==0.1.9
zipp==2.2.0
